body {
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
}
h1{
    font-weight: bolder;
    text-decoration: underline;
}
h2{
    font-weight: bold;
}
a {
    color: blueviolet;
}
a:hover {
    font-weight: bolder;
}
.habilidades {
    color:blue
}
#copy {
    font-weight: bold;
}
#objetivos > li {
    color:aquamarine

}
#objetivos:first-child {
    font-size: larger;
}
#objetivos:last-child {
    font-size: x-small;

}
#objetivos::before{
    content: "👉 ";
}
#objetivos::after{
    content: " ✔";
}